body {
  height: 100%;
  margin: 0;
}

#root {
  position: relative;
  height: 100%;
  background-color: var(--bg-color-primary);
  color: var(--fg-color-primary);
  max-width: 400px;
  margin: auto;
  height: 100vh;
}

.scrollable-container {
  /* Remaining screen height after nav bar, with internal scrolling */
  height: calc(100vh - var(--nav-bar-height));
  margin-top: var(--nav-bar-height);
  overflow-y: auto; /* Show scrollbar only when needed */
  overflow-x: hidden; /* Prevent horizontal scroll */
  border: 1px solid red;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

:root {
  --menu-bar-height: 2.5rem;
  --menu-bar-gap: 5px;
  --menu-bar-width: 90%;
  --menu-bar-edges: 30px;
  --menu-item-spacing: 25px;
  --menu-icon-size: 32px;
  --menu-bar-padding: 10px 35px;
  --menu-icon-text-gap: -3px;

  --nav-bar-height: 2.4rem;
  --nav-bar-width: 100%;
  --nav-bar-padding: 10px;
}

@media only screen and (min-width: 768px) {
  body, #root {
    max-width: 375px; /* Restricting width for mobile view */
    margin: 0 auto; /* Centering the content */
    height: 100%;
    width: 100%;
  }
}