@import './assets/fonts/fonts.css';

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

:root {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 1.2em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Important Globals */
  --bg-color-primary: white;
  --bg-color-secondary: #F7F7F7;
  --bg-color-tertiary: #E2E2E2;

  --border-color-primary: #ECECEC;

  --fg-color-primary: #262626;
  --fg-color-secondary: #262626;
  --fg-color-tertiary: #727171;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}