@import './assets/fonts/fonts.css';

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 1.2em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Important Globals */
  --bg-color-primary: rgb(0, 0, 0);
  --bg-color-secondary: #1D1D1F;
  --bg-color-tertiary: #333336;

  --border-color-primary: #343437;

  --fg-color-primary: #F5F5F7;
  --fg-color-secondary: #dedee1;
  --fg-color-tertiary: #86868B;

  --fg-color-alert: rgb(255, 66, 69);
  --fg-color-highlight: rgb(0, 145, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}