name: JSDocs

on:
  push:
    branches:
      - main

# Required to allow the action to push the new docs to your docs branch
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        working-directory: frontend
        run: npm ci

      - name: Generate Documentation
        # We run this from ROOT so it sees jsdoc.json and README.md
        # We point to the jsdoc binary inside the frontend folder
        run: ./frontend/node_modules/.bin/jsdoc -c jsdoc.json

      - name: Deploy to docs branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: docs
          publish_dir: ./out  # Matches "destination" in jsdoc.json